<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>72.0000000</real>
            <key>y</key>
            <real>175.0000000</real>
        </dict>
        <key>36</key>
        <dict>
            <key>x</key>
            <real>633.0000000</real>
            <key>y</key>
            <real>290.0000000</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>60.0000000</real>
            <key>y</key>
            <real>26.0000000</real>
        </dict>
        <key>35</key>
        <dict>
            <key>x</key>
            <real>643.0000000</real>
            <key>y</key>
            <real>255.0000000</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>104.0000000</real>
            <key>y</key>
            <real>50.0000000</real>
        </dict>
        <key>34</key>
        <dict>
            <key>x</key>
            <real>640.0000000</real>
            <key>y</key>
            <real>226.0000000</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>139.0000000</real>
            <key>y</key>
            <real>73.0000000</real>
        </dict>
        <key>33</key>
        <dict>
            <key>x</key>
            <real>627.0000000</real>
            <key>y</key>
            <real>199.0000000</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>163.0000000</real>
            <key>y</key>
            <real>94.0000000</real>
        </dict>
        <key>32</key>
        <dict>
            <key>x</key>
            <real>605.0000000</real>
            <key>y</key>
            <real>183.0000000</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>155.0000000</real>
            <key>y</key>
            <real>119.0000000</real>
        </dict>
        <key>31</key>
        <dict>
            <key>x</key>
            <real>576.0000000</real>
            <key>y</key>
            <real>167.0000000</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>144.0000000</real>
            <key>y</key>
            <real>133.0000000</real>
        </dict>
        <key>30</key>
        <dict>
            <key>x</key>
            <real>545.0000000</real>
            <key>y</key>
            <real>155.0000000</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>113.0000000</real>
            <key>y</key>
            <real>144.0000000</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>78.0000000</real>
            <key>y</key>
            <real>150.0000000</real>
        </dict>
        <key>29</key>
        <dict>
            <key>x</key>
            <real>511.0000000</real>
            <key>y</key>
            <real>153.0000000</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>77.0000000</real>
            <key>y</key>
            <real>207.0000000</real>
        </dict>
        <key>28</key>
        <dict>
            <key>x</key>
            <real>462.0000000</real>
            <key>y</key>
            <real>154.0000000</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>85.0000000</real>
            <key>y</key>
            <real>226.0000000</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>111.0000000</real>
            <key>y</key>
            <real>265.0000000</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>116.0000000</real>
            <key>y</key>
            <real>308.0000000</real>
        </dict>
        <key>58</key>
        <dict>
            <key>x</key>
            <real>790.0000000</real>
            <key>y</key>
            <real>461.0000000</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>104.0000000</real>
            <key>y</key>
            <real>331.0000000</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>87.0000000</real>
            <key>y</key>
            <real>381.0000000</real>
        </dict>
        <key>16</key>
        <dict>
            <key>x</key>
            <real>96.0000000</real>
            <key>y</key>
            <real>421.0000000</real>
        </dict>
        <key>17</key>
        <dict>
            <key>x</key>
            <real>119.0000000</real>
            <key>y</key>
            <real>411.0000000</real>
        </dict>
        <key>54</key>
        <dict>
            <key>x</key>
            <real>693.0000000</real>
            <key>y</key>
            <real>407.0000000</real>
        </dict>
        <key>21</key>
        <dict>
            <key>x</key>
            <real>285.0000000</real>
            <key>y</key>
            <real>295.0000000</real>
        </dict>
        <key>18</key>
        <dict>
            <key>x</key>
            <real>343.0000000</real>
            <key>y</key>
            <real>430.0000000</real>
        </dict>
        <key>55</key>
        <dict>
            <key>x</key>
            <real>723.0000000</real>
            <key>y</key>
            <real>423.0000000</real>
        </dict>
        <key>20</key>
        <dict>
            <key>x</key>
            <real>239.0000000</real>
            <key>y</key>
            <real>309.0000000</real>
        </dict>
        <key>19</key>
        <dict>
            <key>x</key>
            <real>264.0000000</real>
            <key>y</key>
            <real>345.0000000</real>
        </dict>
        <key>57</key>
        <dict>
            <key>x</key>
            <real>776.0000000</real>
            <key>y</key>
            <real>452.0000000</real>
        </dict>
        <key>22</key>
        <dict>
            <key>x</key>
            <real>300.0000000</real>
            <key>y</key>
            <real>274.0000000</real>
        </dict>
        <key>56</key>
        <dict>
            <key>x</key>
            <real>751.0000000</real>
            <key>y</key>
            <real>438.0000000</real>
        </dict>
        <key>23</key>
        <dict>
            <key>x</key>
            <real>300.0000000</real>
            <key>y</key>
            <real>231.0000000</real>
        </dict>
        <key>51</key>
        <dict>
            <key>x</key>
            <real>534.0000000</real>
            <key>y</key>
            <real>398.0000000</real>
        </dict>
        <key>24</key>
        <dict>
            <key>x</key>
            <real>314.0000000</real>
            <key>y</key>
            <real>200.0000000</real>
        </dict>
        <key>50</key>
        <dict>
            <key>x</key>
            <real>508.0000000</real>
            <key>y</key>
            <real>401.0000000</real>
        </dict>
        <key>25</key>
        <dict>
            <key>x</key>
            <real>343.0000000</real>
            <key>y</key>
            <real>176.0000000</real>
        </dict>
        <key>53</key>
        <dict>
            <key>x</key>
            <real>622.0000000</real>
            <key>y</key>
            <real>394.0000000</real>
        </dict>
        <key>26</key>
        <dict>
            <key>x</key>
            <real>382.0000000</real>
            <key>y</key>
            <real>163.0000000</real>
        </dict>
        <key>52</key>
        <dict>
            <key>x</key>
            <real>596.0000000</real>
            <key>y</key>
            <real>393.0000000</real>
        </dict>
        <key>27</key>
        <dict>
            <key>x</key>
            <real>423.0000000</real>
            <key>y</key>
            <real>156.0000000</real>
        </dict>
        <key>37</key>
        <dict>
            <key>x</key>
            <real>621.0000000</real>
            <key>y</key>
            <real>320.0000000</real>
        </dict>
        <key>38</key>
        <dict>
            <key>x</key>
            <real>581.0000000</real>
            <key>y</key>
            <real>352.0000000</real>
        </dict>
        <key>39</key>
        <dict>
            <key>x</key>
            <real>532.0000000</real>
            <key>y</key>
            <real>346.0000000</real>
        </dict>
        <key>40</key>
        <dict>
            <key>x</key>
            <real>495.0000000</real>
            <key>y</key>
            <real>320.0000000</real>
        </dict>
        <key>41</key>
        <dict>
            <key>x</key>
            <real>479.0000000</real>
            <key>y</key>
            <real>314.0000000</real>
        </dict>
        <key>42</key>
        <dict>
            <key>x</key>
            <real>432.0000000</real>
            <key>y</key>
            <real>316.0000000</real>
        </dict>
        <key>43</key>
        <dict>
            <key>x</key>
            <real>407.0000000</real>
            <key>y</key>
            <real>317.0000000</real>
        </dict>
        <key>44</key>
        <dict>
            <key>x</key>
            <real>377.0000000</real>
            <key>y</key>
            <real>316.0000000</real>
        </dict>
        <key>45</key>
        <dict>
            <key>x</key>
            <real>333.0000000</real>
            <key>y</key>
            <real>310.0000000</real>
        </dict>
        <key>46</key>
        <dict>
            <key>x</key>
            <real>319.0000000</real>
            <key>y</key>
            <real>349.0000000</real>
        </dict>
        <key>47</key>
        <dict>
            <key>x</key>
            <real>353.0000000</real>
            <key>y</key>
            <real>369.0000000</real>
        </dict>
        <key>48</key>
        <dict>
            <key>x</key>
            <real>400.0000000</real>
            <key>y</key>
            <real>392.0000000</real>
        </dict>
        <key>49</key>
        <dict>
            <key>x</key>
            <real>428.0000000</real>
            <key>y</key>
            <real>421.0000000</real>
        </dict>
    </dict>
</plist>
