<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>46.0000000</real>
            <key>y</key>
            <real>231.0000000</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>379.0000000</real>
            <key>y</key>
            <real>410.0000000</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>308.0000000</real>
            <key>y</key>
            <real>415.0000000</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>246.0000000</real>
            <key>y</key>
            <real>418.0000000</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>194.0000000</real>
            <key>y</key>
            <real>420.0000000</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>114.0000000</real>
            <key>y</key>
            <real>417.0000000</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>56.0000000</real>
            <key>y</key>
            <real>381.0000000</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>44.0000000</real>
            <key>y</key>
            <real>335.0000000</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>37.0000000</real>
            <key>y</key>
            <real>281.0000000</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>69.0000000</real>
            <key>y</key>
            <real>184.0000000</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>124.0000000</real>
            <key>y</key>
            <real>158.0000000</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>207.0000000</real>
            <key>y</key>
            <real>154.0000000</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>275.0000000</real>
            <key>y</key>
            <real>164.0000000</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>336.0000000</real>
            <key>y</key>
            <real>165.0000000</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>396.0000000</real>
            <key>y</key>
            <real>165.0000000</real>
        </dict>
        <key>16</key>
        <dict>
            <key>x</key>
            <real>472.0000000</real>
            <key>y</key>
            <real>164.0000000</real>
        </dict>
        <key>17</key>
        <dict>
            <key>x</key>
            <real>521.0000000</real>
            <key>y</key>
            <real>166.0000000</real>
        </dict>
        <key>21</key>
        <dict>
            <key>x</key>
            <real>701.0000000</real>
            <key>y</key>
            <real>265.0000000</real>
        </dict>
        <key>18</key>
        <dict>
            <key>x</key>
            <real>588.0000000</real>
            <key>y</key>
            <real>158.0000000</real>
        </dict>
        <key>20</key>
        <dict>
            <key>x</key>
            <real>690.0000000</real>
            <key>y</key>
            <real>215.0000000</real>
        </dict>
        <key>19</key>
        <dict>
            <key>x</key>
            <real>628.0000000</real>
            <key>y</key>
            <real>182.0000000</real>
        </dict>
        <key>22</key>
        <dict>
            <key>x</key>
            <real>683.0000000</real>
            <key>y</key>
            <real>316.0000000</real>
        </dict>
        <key>23</key>
        <dict>
            <key>x</key>
            <real>727.4595337</real>
            <key>y</key>
            <real>408.7215881</real>
        </dict>
    </dict>
</plist>
