<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>272.0000000</real>
            <key>y</key>
            <real>117.0000000</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>380.0000000</real>
            <key>y</key>
            <real>346.0000000</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>399.0000000</real>
            <key>y</key>
            <real>313.0000000</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>360.0000000</real>
            <key>y</key>
            <real>284.0000000</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>255.0000000</real>
            <key>y</key>
            <real>239.0000000</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>114.0000000</real>
            <key>y</key>
            <real>204.0000000</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>10.0000000</real>
            <key>y</key>
            <real>141.0000000</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>35.0000000</real>
            <key>y</key>
            <real>85.0000000</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>185.0000000</real>
            <key>y</key>
            <real>87.0000000</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>360.0000000</real>
            <key>y</key>
            <real>84.0000000</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>478.0000000</real>
            <key>y</key>
            <real>74.0000000</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>647.0000000</real>
            <key>y</key>
            <real>82.0000000</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>713.0000000</real>
            <key>y</key>
            <real>103.0000000</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>783.0000000</real>
            <key>y</key>
            <real>66.0000000</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>772.3859863</real>
            <key>y</key>
            <real>139.1660004</real>
        </dict>
        <key>16</key>
        <dict>
            <key>x</key>
            <real>723.4660645</real>
            <key>y</key>
            <real>159.1328888</real>
        </dict>
        <key>17</key>
        <dict>
            <key>x</key>
            <real>765.3969116</real>
            <key>y</key>
            <real>184.0917511</real>
        </dict>
    </dict>
</plist>
