<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>414.9752197</real>
            <key>y</key>
            <real>167.1196594</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>723.4672241</real>
            <key>y</key>
            <real>417.7073059</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>714.4821167</real>
            <key>y</key>
            <real>354.8109436</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>712.4849854</real>
            <key>y</key>
            <real>276.9389343</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>683.5326538</real>
            <key>y</key>
            <real>225.0243835</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>633.6148071</real>
            <key>y</key>
            <real>210.0487213</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>594.6791992</real>
            <key>y</key>
            <real>195.0734558</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>537.7726440</real>
            <key>y</key>
            <real>178.1014557</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>483.8613586</real>
            <key>y</key>
            <real>168.1178131</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>359.0668030</real>
            <key>y</key>
            <real>162.1276398</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>309.1489868</real>
            <key>y</key>
            <real>163.1261902</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>250.2460938</real>
            <key>y</key>
            <real>162.1276398</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>209.3133545</real>
            <key>y</key>
            <real>152.1439972</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>186.3507843</real>
            <key>y</key>
            <real>121.1948929</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>140.4264221</real>
            <key>y</key>
            <real>92.2425308</real>
        </dict>
        <key>16</key>
        <dict>
            <key>x</key>
            <real>80.5253525</real>
            <key>y</key>
            <real>92.2425308</real>
        </dict>
        <key>17</key>
        <dict>
            <key>x</key>
            <real>49.5758629</real>
            <key>y</key>
            <real>121.1948929</real>
        </dict>
        <key>21</key>
        <dict>
            <key>x</key>
            <real>36.5973244</real>
            <key>y</key>
            <real>344.8273010</real>
        </dict>
        <key>18</key>
        <dict>
            <key>x</key>
            <real>36.5973244</real>
            <key>y</key>
            <real>186.0883789</real>
        </dict>
        <key>20</key>
        <dict>
            <key>x</key>
            <real>31.6057014</real>
            <key>y</key>
            <real>296.9062195</real>
        </dict>
        <key>19</key>
        <dict>
            <key>x</key>
            <real>26.6140766</real>
            <key>y</key>
            <real>239.0010986</real>
        </dict>
        <key>22</key>
        <dict>
            <key>x</key>
            <real>49.5758629</real>
            <key>y</key>
            <real>395.7432861</real>
        </dict>
        <key>23</key>
        <dict>
            <key>x</key>
            <real>85.5169754</real>
            <key>y</key>
            <real>422.6993408</real>
        </dict>
        <key>24</key>
        <dict>
            <key>x</key>
            <real>167.3824463</real>
            <key>y</key>
            <real>425.6942139</real>
        </dict>
        <key>25</key>
        <dict>
            <key>x</key>
            <real>199.3301086</real>
            <key>y</key>
            <real>403.7302246</real>
        </dict>
    </dict>
</plist>
