<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>53.0000000</real>
            <key>y</key>
            <real>157.0000000</real>
        </dict>
        <key>36</key>
        <dict>
            <key>x</key>
            <real>597.0000000</real>
            <key>y</key>
            <real>28.0000000</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>79.0000000</real>
            <key>y</key>
            <real>429.0000000</real>
        </dict>
        <key>35</key>
        <dict>
            <key>x</key>
            <real>571.0000000</real>
            <key>y</key>
            <real>55.0000000</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>87.0000000</real>
            <key>y</key>
            <real>377.0000000</real>
        </dict>
        <key>34</key>
        <dict>
            <key>x</key>
            <real>550.0000000</real>
            <key>y</key>
            <real>97.0000000</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>69.0000000</real>
            <key>y</key>
            <real>343.0000000</real>
        </dict>
        <key>33</key>
        <dict>
            <key>x</key>
            <real>535.0000000</real>
            <key>y</key>
            <real>131.0000000</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>40.0000000</real>
            <key>y</key>
            <real>319.0000000</real>
        </dict>
        <key>32</key>
        <dict>
            <key>x</key>
            <real>522.0000000</real>
            <key>y</key>
            <real>186.0000000</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>32.0000000</real>
            <key>y</key>
            <real>294.0000000</real>
        </dict>
        <key>31</key>
        <dict>
            <key>x</key>
            <real>491.0000000</real>
            <key>y</key>
            <real>201.0000000</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>31.0000000</real>
            <key>y</key>
            <real>261.0000000</real>
        </dict>
        <key>30</key>
        <dict>
            <key>x</key>
            <real>459.0000000</real>
            <key>y</key>
            <real>220.0000000</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>30.0000000</real>
            <key>y</key>
            <real>232.0000000</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>37.0000000</real>
            <key>y</key>
            <real>202.0000000</real>
        </dict>
        <key>29</key>
        <dict>
            <key>x</key>
            <real>435.0000000</real>
            <key>y</key>
            <real>236.0000000</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>51.0000000</real>
            <key>y</key>
            <real>81.0000000</real>
        </dict>
        <key>28</key>
        <dict>
            <key>x</key>
            <real>381.0000000</real>
            <key>y</key>
            <real>220.0000000</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>58.0000000</real>
            <key>y</key>
            <real>49.0000000</real>
        </dict>
        <key>12</key>
        <dict>
            <key>x</key>
            <real>104.0000000</real>
            <key>y</key>
            <real>40.0000000</real>
        </dict>
        <key>13</key>
        <dict>
            <key>x</key>
            <real>146.0000000</real>
            <key>y</key>
            <real>101.0000000</real>
        </dict>
        <key>14</key>
        <dict>
            <key>x</key>
            <real>171.0000000</real>
            <key>y</key>
            <real>134.0000000</real>
        </dict>
        <key>15</key>
        <dict>
            <key>x</key>
            <real>210.0000000</real>
            <key>y</key>
            <real>193.0000000</real>
        </dict>
        <key>16</key>
        <dict>
            <key>x</key>
            <real>251.0000000</real>
            <key>y</key>
            <real>214.0000000</real>
        </dict>
        <key>17</key>
        <dict>
            <key>x</key>
            <real>293.0000000</real>
            <key>y</key>
            <real>210.0000000</real>
        </dict>
        <key>21</key>
        <dict>
            <key>x</key>
            <real>367.0000000</real>
            <key>y</key>
            <real>52.0000000</real>
        </dict>
        <key>18</key>
        <dict>
            <key>x</key>
            <real>327.0000000</real>
            <key>y</key>
            <real>184.0000000</real>
        </dict>
        <key>20</key>
        <dict>
            <key>x</key>
            <real>355.0000000</real>
            <key>y</key>
            <real>95.0000000</real>
        </dict>
        <key>19</key>
        <dict>
            <key>x</key>
            <real>347.0000000</real>
            <key>y</key>
            <real>143.0000000</real>
        </dict>
        <key>22</key>
        <dict>
            <key>x</key>
            <real>354.0000000</real>
            <key>y</key>
            <real>19.0000000</real>
        </dict>
        <key>23</key>
        <dict>
            <key>x</key>
            <real>381.0000000</real>
            <key>y</key>
            <real>27.0000000</real>
        </dict>
        <key>24</key>
        <dict>
            <key>x</key>
            <real>397.0000000</real>
            <key>y</key>
            <real>56.0000000</real>
        </dict>
        <key>50</key>
        <dict>
            <key>x</key>
            <real>448.0000000</real>
            <key>y</key>
            <real>464.0000000</real>
        </dict>
        <key>25</key>
        <dict>
            <key>x</key>
            <real>383.0000000</real>
            <key>y</key>
            <real>99.0000000</real>
        </dict>
        <key>26</key>
        <dict>
            <key>x</key>
            <real>372.0000000</real>
            <key>y</key>
            <real>136.0000000</real>
        </dict>
        <key>27</key>
        <dict>
            <key>x</key>
            <real>373.0000000</real>
            <key>y</key>
            <real>171.0000000</real>
        </dict>
        <key>37</key>
        <dict>
            <key>x</key>
            <real>645.0000000</real>
            <key>y</key>
            <real>60.0000000</real>
        </dict>
        <key>38</key>
        <dict>
            <key>x</key>
            <real>685.0000000</real>
            <key>y</key>
            <real>99.0000000</real>
        </dict>
        <key>39</key>
        <dict>
            <key>x</key>
            <real>709.0000000</real>
            <key>y</key>
            <real>150.0000000</real>
        </dict>
        <key>40</key>
        <dict>
            <key>x</key>
            <real>727.0000000</real>
            <key>y</key>
            <real>197.0000000</real>
        </dict>
        <key>41</key>
        <dict>
            <key>x</key>
            <real>751.0000000</real>
            <key>y</key>
            <real>263.0000000</real>
        </dict>
        <key>42</key>
        <dict>
            <key>x</key>
            <real>730.0000000</real>
            <key>y</key>
            <real>297.0000000</real>
        </dict>
        <key>43</key>
        <dict>
            <key>x</key>
            <real>686.0000000</real>
            <key>y</key>
            <real>325.0000000</real>
        </dict>
        <key>44</key>
        <dict>
            <key>x</key>
            <real>622.0000000</real>
            <key>y</key>
            <real>338.0000000</real>
        </dict>
        <key>45</key>
        <dict>
            <key>x</key>
            <real>552.0000000</real>
            <key>y</key>
            <real>351.0000000</real>
        </dict>
        <key>46</key>
        <dict>
            <key>x</key>
            <real>460.0000000</real>
            <key>y</key>
            <real>361.0000000</real>
        </dict>
        <key>47</key>
        <dict>
            <key>x</key>
            <real>411.0000000</real>
            <key>y</key>
            <real>373.0000000</real>
        </dict>
        <key>48</key>
        <dict>
            <key>x</key>
            <real>399.0000000</real>
            <key>y</key>
            <real>414.0000000</real>
        </dict>
        <key>49</key>
        <dict>
            <key>x</key>
            <real>424.0000000</real>
            <key>y</key>
            <real>432.0000000</real>
        </dict>
    </dict>
</plist>
