<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>1</key>
        <dict>
            <key>id</key>
            <integer>1001</integer>
            <key>showTime</key>
            <integer>1</integer>
        </dict>
        <key>2</key>
        <dict>
            <key>id</key>
            <integer>1002</integer>
            <key>showTime</key>
            <integer>5</integer>
        </dict>
        <key>3</key>
        <dict>
            <key>id</key>
            <integer>1002</integer>
            <key>showTime</key>
            <integer>7</integer>
        </dict>
        <key>4</key>
        <dict>
            <key>id</key>
            <integer>1003</integer>
            <key>showTime</key>
            <integer>9</integer>
        </dict>
        <key>5</key>
        <dict>
            <key>id</key>
            <integer>1003</integer>
            <key>showTime</key>
            <integer>11</integer>
        </dict>
        <key>6</key>
        <dict>
            <key>id</key>
            <integer>1004</integer>
            <key>showTime</key>
            <integer>15</integer>
        </dict>
    </dict>
</plist>
