<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>9</key>
        <dict>
            <key>x</key>
            <real>485.0000000</real>
            <key>y</key>
            <real>146.0000000</real>
        </dict>
        <key>1</key>
        <dict>
            <key>x</key>
            <real>312.0000000</real>
            <key>y</key>
            <real>319.0000000</real>
        </dict>
        <key>2</key>
        <dict>
            <key>x</key>
            <real>477.0000000</real>
            <key>y</key>
            <real>261.0000000</real>
        </dict>
        <key>3</key>
        <dict>
            <key>x</key>
            <real>219.0000000</real>
            <key>y</key>
            <real>282.0000000</real>
        </dict>
        <key>4</key>
        <dict>
            <key>x</key>
            <real>133.0000000</real>
            <key>y</key>
            <real>143.0000000</real>
        </dict>
        <key>5</key>
        <dict>
            <key>x</key>
            <real>239.0000000</real>
            <key>y</key>
            <real>181.0000000</real>
        </dict>
        <key>6</key>
        <dict>
            <key>x</key>
            <real>157.0000000</real>
            <key>y</key>
            <real>38.0000000</real>
        </dict>
        <key>7</key>
        <dict>
            <key>x</key>
            <real>263.0000000</real>
            <key>y</key>
            <real>32.0000000</real>
        </dict>
        <key>8</key>
        <dict>
            <key>x</key>
            <real>373.0000000</real>
            <key>y</key>
            <real>148.0000000</real>
        </dict>
        <key>10</key>
        <dict>
            <key>x</key>
            <real>588.0000000</real>
            <key>y</key>
            <real>148.0000000</real>
        </dict>
        <key>11</key>
        <dict>
            <key>x</key>
            <real>583.6959839</real>
            <key>y</key>
            <real>259.9670105</real>
        </dict>
    </dict>
</plist>
